/* Website CSS */
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}
#map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h3 {
  margin-bottom: 0;
}

#inc>h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: #0F9D58;
}

#ori>h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: #F4B400;
}

#bel>h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: #70D1D0;
}

#cri>h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: #DB4437;
}

.filter-btn {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #fff;
  border: 1px solid #dadce0;
  box-shadow: none;
  border-radius: 36px;
  padding: 3px 15px 3px 15px;
  margin: 5px 5px 5px 0px;
}

.filter-btn:hover,
.filter-btn:active {
  background-color: #F0F0F0;
}